body {
    background: white;
}

/* Users Model Css */

.info-modal {
    font-size: 16px;
    padding: 18px 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}
.modal-header .modal-title {
    font-size: 31px;
    font-weight: bold;
    color: #0c111a;
    margin-top: 0px;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}
.modal-header .modal-title-desc {
    font-family: "Brother";
    font-size: 15px;
    color: rgba(91, 94, 109, 0.7);
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}
.team-member-modal .team-member-list li:last-child {
    border-bottom: 1px solid rgba(151, 151, 151, 0.2);
}
.team-member-modal .team-member-list li {
    padding: 15px;
    border-top: 1px solid rgba(151, 151, 151, 0.2);
}
.team-member-modal .invite-team-member-wrap .invite-title {
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    color: #7A7E88;
    position: relative;
    top: -30px;
}
.team-member-modal .invite-team-member-wrap .invite-member-form .form-field {
    margin-bottom: 0;
    max-width: 145px;
    width: 100%;
}
.team-member-modal .invite-team-member-wrap .invite-member-form .btn {
    border-radius: 3px;
    padding: 15.5px 30px 14px;
    width: 100%;
}
.btn.btn-2 {
    color: #fff;
    border: 2px solid #05b2e6;
    background-color: #05b2e6;
}
.team-member-modal .invite-team-member-wrap .invite-member-form .form-field:first-child {
    max-width: 325px;
    width: 100%;
}
.team-member-modal .invite-team-member-wrap .invite-member-form input, .team-member-modal .invite-team-member-wrap .invite-member-form select {
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    padding: 11px 15px;
}
.team-member-modal .invite-team-member-wrap .invite-member-form select {
    padding: 11px 14px;
}
.team-member-modal .invite-team-member-wrap .invite-member-form {
    max-width: 625px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.modal-header {
    border: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 4.44rem 1em 1em;
}
.team-member-modal .team-member-list .member .member-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.team-member-modal .team-member-list .member .member-content {
    padding-left: 30px;
}
.team-member-modal .team-member-list .member {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}
.team-member-modal .modal-header {
    padding-top: 0rem;
    text-align: center;
}
.modal-header {
    display: -ms-flexbox;
    display: block;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}
.team-member-modal .modal-content .modal-body {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}
.modal-content .modal-body {
    padding: 1rem 1em 3.44em;
}
.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}
.team-member-modal .team-member-list {
    max-width: 610px;
    max-height: 160px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-y: auto;
}
.team-member-modal .invite-team-member-wrap {
    background-color: #F5F5F8;
    margin-top: 70px;
    padding-bottom: 35px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}



/**
* Admin Top Bar items 
**/

#wp-admin-bar-hidden_users_popup {
    display: none;
}
#welcome-panel, #screen-meta-links {
    display: none !important;
}
#wpadminbar {
    background: white;
    border-bottom: 1px solid #eff0f1;
    padding-top: 8px;
    height: 50px;
}
#wpadminbar a {
    color:#696969 !important;
}
#wp-admin-bar-view-sites {
    margin-left: 175px !important;
}
#wp-admin-bar-your-site {
    border: 1px solid #eff0f1 !important;
    border-radius: 50px;
    padding: 0px 5px !important;
    margin-left: 10px !important;
}
#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item, #wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus {
background: transparent;
color:black !important;
}
.add-team-member {
    background-image: url(https://bevaone.com/wp-content/uploads/2020/02/add_team_member.png);
    width: 30px !important;
    height: 30px !important;
    padding-left: 30px !important;
    margin: 0px !important;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
}
#wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions > li {
    margin-left: 15px;
}
#wp-admin-bar-comments {
    float: left !important;
}
#wpadminbar #wp-admin-bar-my-account.with-avatar > a img {
    height: 30px;
    margin: 0 5px 0 5px;
    float: left;
    border-radius: 50%;
}
#wpadminbar #wp-admin-bar-user-info .display-name{
    display: inline-block;
    padding-left: 15px;
    position: absolute;
}
#wp-admin-bar-user-info .avatar {
    position: unset;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/**
* Admin Top Secondary Bar items 
**/
#wp-admin-bar-top-secondary li {
    min-width: 100px;
}
#wpadminbar .ab-top-secondary .menupop .ab-sub-wrapper {
    right: 10px;
}

/** Admin Secondary Bar - User Popup Styles **/

#wpadminbar .menupop .ab-sub-wrapper{
    margin: 25px auto;
    padding: 10px 0px 50px 0px;
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
    background:#fff;
    border-radius: 15px;
    border: 2px solid;
}
.ab-sub-wrapper::before {
    content: "\25B2";
    position: absolute;
    top: -52px;
    left: 85px;
    font-size: 32px;
}
#wp-admin-bar-my-account-default {
    border-top: 1px solid;
}
#wp-admin-bar-wu-my-account hr, #wp-admin-bar-app-store hr {
    width: 30px;
}
#wp-admin-bar-wu-my-account, #wp-admin-bar-app-store {
    height: 50px;
}
#wpadminbar .ab-submenu {
    padding: 5px 15px;
}
#wp-admin-bar-logout {
    position: absolute !important;
    top: 75%;
    left: 12px;
    margin-top: 60px !important;
    border: 1px solid;
    text-align: center;
    border-radius: 25px;
}

/***** Dashboard Main Menu - LEFT Side*/
#adminmenuback, #adminmenuwrap, #adminmenu {
    background-color:#dedede;
    margin-top: 0px;
    z-index: 9999999;
}
#adminmenu a.bevaone-logo{
    display: block;
    background: url(https://bevaone.com/wp-content/uploads/2019/12/logo-beva.png) no-repeat center center;
    background-size: 160px 36px;
    width: 160px;
    height: 36px;
    margin: 30px auto;
    padding: 10px 5px;
}
#menu-dashboard, #adminmenu a.bevaone-logo div.wp-menu-name, #collapse-menu {
    display: none;
}
#adminmenu div.wp-menu-image{
    opacity: 0;
}
#adminmenu a {
    color: #696969;
    font-size: 18px !important;
}
#adminmenu a:hover{
    color:#000;
}
#adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top, #adminmenu li > a.menu-top:focus {
    background-color:transparent;
    color:#000;
}
a.wp-not-current-submenu.upgrade-membership {
    color: white !important;
    background-color:#3b5a9a;
    border-radius: 50px;
    padding: 0 !important;
    line-height: 1 !important;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.btn.btn-2 {
    color: #fff;
    border: 2px solid #05b2e6;
    background-color: #05b2e6;
    width: 100%;
    padding: 4px;
}
li#wp-admin-bar-comments .c_num {
    border-radius: 10px !important;
    background: #777;
    color: #fff;
    padding: 0px 5px;
}

li#wp-admin-bar-wu-user-email .ab-item,#wp-admin-bar-wu-my-account .ab-item {
    color: #696969 !important;
}

@media (min-width: 768px){
.col-sm-4 {
    width: 33.33333333%;
}
.col-sm-3 {
    width: 25%;
}
.
.col-sm-6 {
    width: 50%;
}
.col-sm-5 {
    width: 41.66666667%;
}
.col-sm-2 {
    width: 16.66666667%;
}
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
}